[submodule "efiXloader/3rd/uefitool"]
	path = efiXloader/3rd/uefitool
	url = https://github.com/LongSoft/UEFITool.git
	branch = new_engine
[submodule "guids"]
	path = guids
	url = git@github.com:REhints/guiddb.git
	branch = main
[submodule "idasdk"]
	path = idasdk
	url = https://github.com/HexRaysSA/ida-sdk.git
	branch = main
