# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
.installed.cfg
.Python
*.egg
*.egg-info/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/

# pyenv
.python-version

# Environments
.env
.venv
env.bak/
env/
ENV/
venv.bak/
venv/

# custom directories
.cache
.idea/
.vs/
.vscode/
test/
tests

.DS_Store
*.sh
