[submodule "guids"]
	path = guids
	url = https://github.com/REhints/guiddb.git
	branch = main
[submodule "third_party/uefitool"]
	path = third_party/uefitool
	url = https://github.com/LongSoft/UEFITool.git
	branch = new_engine
[submodule "third_party/idasdk"]
	path = third_party/idasdk
	url = https://github.com/HexRaysSA/ida-sdk.git
	branch = main
