# Byte-compiled / optimized / DLL files
*$py.class
*.py[cod]
__pycache__/

# Distribution / packaging
*.egg
*.egg-info/
.eggs/
.installed.cfg
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/

# pyenv
.python-version

# Environments
.env
.venv
env.bak/
env/
ENV/
venv.bak/
venv/

# custom directories
.cache
.idea/
.vs/
.vscode/
test/
tests

# OSX
.DS_Store
