name: analyse

on:
  push:
    branches: [master]

jobs:
  analyse-all:
    name: analyse plugin and loader
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: ["cpp"]
    steps:
      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: initialise CodeQL
        uses: github/codeql-action/init@d3678e237b9c32a6c9bffb3315c335f976f3549f
        with:
          languages: ${{ matrix.language }}
      - name: autobuild
        run: |
          git submodule update --init --recursive
          cmake -S . -B build -DIdaSdk_DIR=third_party/idasdk/src -DHexRaysSdk_ROOT_DIR=third_party/idasdk/src
          cmake --build build --config Release --parallel
      - name: analyse with CodeQL
        uses: github/codeql-action/analyze@d3678e237b9c32a6c9bffb3315c335f976f3549f
